/*  BLOGPOST.CSS  */


/* -- section title -- */
article section.title h1 {
	font: 600 1.7rem/1.2 "Roboto"; 
	color: #333;
	padding: 0 0;
}


/* -- section created -- */
article section.created {
	font: 400 1.0rem/1.2 "Roboto";
	color: #333;
	font-style: italic;
	padding: 1rem 0 0;
}

article section.created time {
	color: green;
}


/* -- section keywords -- */
article section.keywords {
	font: 400 1.1rem/1.4 "Roboto";
	color: #333;
	font-style: italic;
	padding: 1rem 0;
}

article section.keywords a {
	text-decoration: none;
}


/* -- section lastchange -- */
article section.lastchange {
	font: 400 0.8rem/1.0 "Roboto";
	color: #333;
	font-style: italic;
}

article section.lastchange time {
	color: green;
}


/* -- section content -- */
article section.content h1 {
	font: 500 1.5rem/1.2 "Roboto";
	color: #333;
	padding: 0 0;
}

article section.content h2 {
	font: 500 1.5rem/1.2 "Roboto";
	font-style: italic;
	color: #333;
	padding: 0 0;
}

article section.content h3 {
	font: 500 1.0rem/1.2 "Roboto";
	color: #333;
	padding: 1rem 0;
}

article section.content h4 {
	font: 500 1.0rem/1.2 "Roboto";
	font-style: italic;
	color: #333;
	padding: 1rem 0;
}

article section.content pre {
	font: 300 0.9rem/1.2 "Roboto";
}

article section.content p { 
	font: 400 1.1rem/1.5 "Roboto";
	color: #333;
	padding: 1rem 0 0;
}

article section.content blockquote p {
	background-color: #dde;
}

article section.content * a {
	font: 400 1.1rem/1.5 "Roboto";
	color: #11d;
	text-decoration: none;
}

article section.content * ul {
	font: 400 1.1rem/1.5 "Roboto";
	color: #333;
}

article section.content * li {
	font: 400 1.1rem/1.5 "Roboto";
	color: #333;
}

article section.content * img {
	max-width: 100%;
	height: auto;
	border: 1px solid #333;
}
