/*  BLOGPOST.CSS  */


/* -- section title -- */
article section.title div.title {
	font-size: 1.7rem;
	font-weight: bold;
	color: #333;
	padding: 0 0;
}


/* -- section created -- */
article section.created {
	font: 400 1.0rem/1.2 "Roboto";
	color: #333;
	font-style: italic;
	padding: 1rem 0 0;
}

article section.created time {
	color: green;
}


/* -- section keywords -- */
article section.keywords {
	font-size: 1.1rem;
	font-style: italic;
	padding: 1rem 0;
}

article section.keywords a {
	text-decoration: none;
	color: #4682b4;
}


/* -- section lastchange -- */
article section.lastchange {
	font: 400 0.8rem/1.0 "Roboto";
	color: #333;
	font-style: italic;
}

article section.lastchange time {
	color: green;
}


/* -- section content -- */
article section.content {
	counter-reset: level_1;
}

article section.content h1:before {
	content: counter(level_1) "\0000a0\0000a0";
	counter-increment: level_1;
}

article section.content h1 {
	font-size: 1.5em;
	padding: 1rem 0 0 0;
	color: #333;
	counter-reset: level_2;
}

article section.content h2:before {
	content: counter(level_1) "." counter(level_2) "\0000a0\0000a0";
	counter-increment: level_2;
}

* article section.content h2 {
	padding: 1rem 0 0 0;
	color: #333;
	counter-reset: level_3;
}

article section.content h3:before {
	content: counter(level_1) "." counter(level_2) "." counter(level_3) "\0000a0\0000a0";
	counter-increment: level_3;
}

article section.content h3 {
	color: #333;
	counter-reset: level_4;
}

article section.content h4:before {
	content: counter(level_1) "." counter(level_2) "." counter(level_3) "." counter(level_4) "\0000a0\0000a0";
	counter-increment: level_4;
}

article section.content h4 {
	color: #333;
}

article section.content :not(pre) code {
	background-color: #f0f0f0;
}

article section.content pre  {
	font: 300 0.9rem/1.2 "Roboto";
}

article section.content p { 
	font: 400 1.1rem/1.5 "Roboto";
	color: #333;
	padding: 0 0 1rem 0;
}

article section.content blockquote p {
	background-color: beige;
}

article section.content * a {
	color: #4682b4;
	text-decoration: none;
}

article section.content * ul {
	font: 400 1.1rem/1.5 "Roboto";
	color: #333;
}

article section.content * li {
	font: 400 1.1rem/1.5 "Roboto";
	color: #333;
}

article section.content * em {
	color: #708090;
}

article section.content * img {
	max-width: 100%;
	height: auto;
	border: 1px solid #333;
}
