<!-- BlogPost -->
<blogpost id="20180507_13">

	<!-- BlogTitle -->	
	<blogtitle>HighlightJS</blogtitle>
	
	<!-- DateTime Created -->
	<created>erstellt: <time datetime="07-05-2018">7. Mai 2018, 13:00</time></created>
	
	<!-- BlogContent -->
	<blogcontent>
	</blogcontent>
	
	<!-- Tags -->
	<tags>Tags: <a href="#code" target="_postsByTags">code</a>, 
		<a href="#pyexcel" target="_postsByTags">pyexcel</a>,
		<a href="#python" target="_postsByTags">python</a></tags>
	
	<!-- DateTime LastChange -->
	<lastchange>letzte Änderung: <time datetime="07-05-2018">7. Mai 2018, 13:00</time></lastchange>
</blogpost>
