<!-- BlogPost -->
<article id="{BLOGPOSTID}">

	<!-- BlogTitle -->	
	<section class="title">
		<h1>{BLOGPOSTTITLE}</h1>
	</section>
	
	<!-- DateTime Created -->
	<section class="created"><p>erstellt:
		<time datetime="{BLOGPOSTCREATED}">{BLOGPOSTCREATED_HUMANREADABLE}</time></p>
	</section>
	
	<!-- BlogContent -->
	<section class="content">{BLOGPOSTCONTENT}</section>
	
	<!-- BlogKeywords -->
	<section class="keywords">
		<p>Tags: {BLOGPOSTKEYWORDS}</p>
	</section>
	
	<!-- DateTime LastChange -->
	<section class="lastchange">
		<p>letzte Änderung:
			<time datetime="{BLOGPOSTCHANGED}">{BLOGPOSTCHANGED_HUMANREADABLE}</time></p>
	</section>
</article>