<!-- BlogPost -->
<article id="20180507_13">

	<!-- BlogTitle -->	
	<section class="title">
		<h1>{BLOGTITLE}</h1>
	</section>
	
	<!-- DateTime Created -->
	<section class="created"><p>erstellt:
		<time datetime="{BLOGCREATED}">{BLOGCREATED}</time></p>
	</section>
	
	<!-- BlogContent -->
	<section class="content">{BLOGCONTENT}</section>
	
	<!-- BlogKeywords -->
	<section class="keywords">
		<p>Tags: {BLOGKEYWORDS}</p>
	</section>
	
	<!-- DateTime LastChange -->
	<section class="lastchange">
		<p>letzte Änderung:
			<time datetime="{BLOGCHANGED}">{BLOGCHANGED}</time></p>
	</section>
</article>
