<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{BLOGTITLE}</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,7001,900,900i">
	<link rel="stylesheet" href="../css/page.css">
	<link rel="stylesheet" href="../css/{PAGESTYLE}.css">
	
	<!-- MathJax -->
	<script type="text/javascript" src='../lib/mathjaxjs/MathJax.js?config=TeX-AMS_HTML-full'></script>
	<script type="text/x-mathjax-config">MathJax.Hub.Config('TeX-AMS_HTML-full');</script>
	
	<!-- Highlight -->
	<link rel="stylesheet" href="../lib/highlightjs/default.css">
	<script src="../lib/highlightjs/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
	<!-- Navigation -->
	<nav>
		<a class="col-1 nav-button" href="#">Start</a>
		<a class="col-2 nav-button" href="#">Blog Archiv</a>
		<a class="col-3 nav-button" href="#">Keywords</a>
		<a class="col-4 nav-button" href="#">About</a>
		<a class="col-5 nav-button" href="#">Impressum</a>
	</nav>
	
	<!-- Header -->
	<header>
		<div class="title">&gt;&gt;{BLOGTITLE}&lt;&lt;</div>
	</header>
	
	<!-- Content -->
	<main>{CONTENT}</main>
	
	<!-- Footer -->	
	<footer>
		<p><a rel="license" 
			href="http://creativecommons.org/licenses/by-nc-sa/3.0/de/"
			target="_cc"><img alt="Creative Commons Lizenzvertrag" 
				style="border-width:0" 
				src="https://i.creativecommons.org/l/by-nc-sa/3.0/de/80x15.png" /></a>
			{BLOGCURRENTYEAR} | zuletzt generiert: <time 
				datetime="{BLOGGENERATED}">{BLOGGENERATED_HUMANREADABLE}</time></p>
		<p>Dieses Werk ist lizenziert unter einer <a rel="license" 
				href="http://creativecommons.org/licenses/by-nc-sa/3.0/de/">Creative 
				Commons Namensnennung - Nicht-kommerziell - Weitergabe unter 
				gleichen Bedingungen 3.0 Deutschland Lizenz</a>.</p>
	</footer>

</body>
</html>
