<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>my blog</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,7001,900,900i">
	<link rel="stylesheet" href="css/-debug.css">
	<link rel="stylesheet" href="css/page.css">
	<link rel="stylesheet" href="css/blogpost.css">
	
	<!-- MathJax -->
	<script type="text/javascript" src='lib/mathjaxjs/MathJax.js?config=TeX-AMS_HTML-full'></script>
	<script type="text/x-mathjax-config">MathJax.Hub.Config('TeX-AMS_HTML-full');</script>
	
	<!-- Highlight -->
	<link rel="stylesheet" href="lib/highlightjs/default.css">
	<script src="lib/highlightjs/highlight.min.js"></script>
	<script>hljs.initHighlightingOnLoad();</script>
</head>
<body>
	<grid>
	<!-- Navigation -->
	<navigation>
		<a class="col-1 nav-button" href="#">Start</a>
		<a class="col-2 nav-button" href="#">Blog Archiv</a>
		<a class="col-3 nav-button" href="#">Tag Liste</a>
		<a class="col-4 nav-button" href="#">About</a>
		<a class="col-5 nav-button" href="#">Impressum</a>
	</navigation>
	
	<!-- Header -->
	<header>
		<h1>Mein Blog</h1>
	<header>
	
	<!-- Content -->
	<content>
	</content>
	
	<!-- Footer -->	
	<footer>
		<p><a rel="license" 
			href="http://creativecommons.org/licenses/by-nc-sa/3.0/de/"
			target="_cc"><img alt="Creative Commons Lizenzvertrag" 
				style="border-width:0" 
				src="https://i.creativecommons.org/l/by-nc-sa/3.0/de/80x15.png" /></a>
			2018 | zuletzt generiert: <time 
				datetime="21-05-2018">21. Mai 2018, 08:00</time></p>
		<p>Dieses 
			Werk ist lizenziert unter einer <a rel="license" 
				href="http://creativecommons.org/licenses/by-nc-sa/3.0/de/">Creative 
				Commons Namensnennung - Nicht-kommerziell - Weitergabe unter 
				gleichen Bedingungen 3.0 Deutschland Lizenz</a>.</p>
	</footer>
	
	</grid>

</body>
</html>
