<!-- PageItem -->
<div class="pageItem">

	<!-- BlogTitle -->	
	<h1 id="{BLOGPOSTID}"><a href="archive/{BLOGPOSTFILENAME}">{BLOGPOSTTITLE}</a></h1>
	
	<!-- DateTime Created -->
	<p class="datetime">erstellt:
		<time datetime="{BLOGPOSTCREATED}">{BLOGPOSTCREATED_HUMANREADABLE}</time></p>
	
	<!-- DateTime LastChange -->
	<p class="datetime">letzte Änderung:
		<time datetime="{BLOGPOSTCHANGED}">{BLOGPOSTCHANGED_HUMANREADABLE}</time></p>
	
	<!-- BlogKeywords -->
	<p class="keywords">Tags: {BLOGPOSTKEYWORDS}</p>

</div>